.gunsmithlib/
.mixin.out/
.pg-native/
.probe
.vscode/
TLHWorld-natives/
crash-reports/
defaultconfigs/
downloads/
dragon-survival/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
fancymenu_data/
kiwipacks/
local/
logs/
moddata/
mods/
moonlight-global-datapacks/
patchouli_books/
PCL/
pfm/
resourcepacks/
saves/
schematics/
screenshots/
shaderpacks/
tacz/
tacz_backup/
tacz+1.20.1/
tlm_custom_pack/
visual_keybinder/
xaero/
XaeroWaypoints_BACKUP*/

TLHWorld.jar
TLHWorld.json
acceleratedRecoiling.json
acceleratedRecoilingLib.dll
command_history.txt
emi.json
options.txt
patchouli_data.json
usercache.json
usernamecache.json

config/*
!config/CSC
config/CSC/*
!config/CSC/config.toml
!config/emixx
!config/inventoryprofilesnext
config/inventoryprofilesnext/*/
!config/sophisticatedstorage-client.toml
!config/supplementaries-client.toml

exported/*
!exported/export_config.txt

kubejs/README.txt